
**Welcome!**
[[table style="width: 100%;"]]
[[row]]
[!-- INTRODUCTION CELL --]
[[cell style="width: 100%; font-size: 110%; border: 1px solid grey; background-color: #F6F9F6; padding: 10px;"]]

[[include :irongiant:clone]]

**Hey! Welcome in the official SCP: The Fault Wiki, Hosted by Wikidot.

Links :
Game link :
* [*https://www.roblox.com/games/7891703898/SCP-TF-Site-19-DEV]



[[/cell]]
[[/row]]
[[/table]]

[[table style="width: 100%"]]
[[row]]
[[cell style="width: 100%; border: 1px solid grey; background-color: #F0F0F0; padding: 10px; text-align: center;"]]

[[module ListPages category="wiki" separate="false" limit="0" order="dateEditedDesc" prependLine="Home: \"]]
• %%linked_title%% \
[[/module]]

[[/cell]]
[[/row]]
[[/table]]

[[table style="width: 100%;"]]
[[row]]
[!-- FIRST LEFT CELL --]
[[cell style="width: 50%; border: 1px solid grey; background-color: #EDFCEA; padding: 10px; vertical-align: top;"]]

++* Twitter
To be alerted when new updates : 

------[[image source]]

[[include inc:picture |
pictureurl=https://ih1.redbubble.net/image.1505150536.9961/mp,504x516,gloss,f8f8f8,t-pad,600x600,f8f8f8.jpg |
heading=Follow us! |
caption=Official Twitter Account. |
float=right |
link=*https://twitter.com/scpintercom |
picresize=
]]

[[div class="member"]]
[[module MembershipByPassword]]
[[/div]]

[[/cell]]
[!-- FIRST RIGHT CELL --]
[[cell style="width: 50%; border: 1px solid grey; background-color: #EDFCEA; padding: 10px; vertical-align: top;"]]



[[/cell]]
[[/row]]
[[/table]]

[[html]]
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>
[[/html]]
